body{
    font-family: sans-serif;
	background-size: cover;
    background-color: rgb(79, 79, 194);
}

.mainpage {
	margin: 50px;
    background-color: rgba(249, 231, 197, 0.993);
    border-radius: 10px;
    padding-bottom: 50px;
}

.title{
    font-size: 40px;
    text-align: center;
    text-decoration: solid;
    margin-bottom: 50px;
    padding-top: 20px;

}
h1{
    text-align: center;
    color: red;
}
.mainplot {
    margin: 20px auto 20px auto;
    background-color: white;
}

.wykresy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wykres, .savebutton {
    display: inline-block;
    margin: 20px 50px auto;
    left: 50%;
}

.fala {
    font-size: larger;
    display: inline-block;
    vertical-align: top;
}

.wykresy div{
    text-align: center;
}
.anim{
    text-align: center;
}


input[type="number"]{
    width: 50px;
}

p{
	left: 10%;
    margin: 20px 50px 0 50px ;
}

.opis {
    text-align: center;
}